* { box-sizing: border-box;
padding: 0;
margin: 0;
font-family: "Poppins", sans-serif;
}

.container { width: 100%;
    /* max-width: 100%; */
    ;}

a { text-decoration: none;
color:#252B54 ;}
li { list-style-type: none;}

.logo svg{ width: 13em;
height: auto;}

.menu img{width: 3em;}

.navbar { display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 70px;


ul { display: flex;
gap: 50px;}
}

.btn button{ padding: 15px 45px;
background-color: rgb(232, 229, 224);
border-radius: 10px;
border: 1px solid   rgb(232, 229, 224);
font-size: 14px;}

.btn button:hover { background-color:#252B54;
color: white;}

.menu { display: none;}

/* hero page */

.hero { padding:  70px;
    width: 100%;

 h1 { font-size: 100px;
    line-height: 108px;
    font-weight: 500;
    width: 750px ;
 }

 p { font-size: 22px;
    line-height: 32px ;
    font-weight:300 ;
    width: 680px;
    padding-top: 30px;
 }

 span { color: #FB9129;}
}

.hero .btn1 { margin-top: 50px;}

.hero button:nth-child(1) { padding: 15px;
    background-color: #0A0E27;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}


.hero button:nth-child(2) {color: #0A0E27;
padding: 15px 12px;
margin-left: 10px;
border-radius: 10px;
border : 1px solid white;
font-size: 16px;}  


/* section 3 */
.picture { display: flex;
padding-top: 30px; 
position: relative;
flex-wrap: wrap;
width: 100%;
}

.box1 img { max-width: 40em;
height: 700px;
}

.box2 img { max-width: 35em;
height: 600px;
top: 650px;
}

.box2 p {
padding-top: 35px;
top: 64em;
line-height: 32px;
font-size: 20px;
font-weight: 300;
width: 420px;}

.box2 {
    display: flex;
flex-direction: column;
position: absolute;
left: 45em;
top: -110px;
}

/* sponsors */
.sponsors {
      padding: 150px 70px 170px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;


p { font-size:22px ;
    line-height:32px ;
    font-weight:500 ;
padding-bottom: 40px; 
}

    img { 
    height: 25px;}
}

.sponsorsimg { display: flex;
gap : 60px}


.Endless {  padding: 70px;


    h1 {font-size:80px ;
        line-height:86px ;
        font-weight:500 ;
        width: 800px;
    }


    span { color: #FB9129;}
}

/* section 4 */
.sect4 { display: flex;
align-items: center;
justify-content: space-between;
padding: 70px;


img { max-width: 300px;
height: 600px;}

p { width: 350px;
    line-height:32px ;
    font-size:20px ;
    font-weight:300 ;
    padding-bottom: 20px;
}

h1 { line-height:29px ;
    font-size:24px ;
    font-weight:600 ;
    padding-bottom: 20px;
    padding-top: 40px;
}

a {  padding-bottom: 35px;
    color: #FB9129;
    
}

button { background-color: black;
color: white;
padding: 12px 15px;
border-radius: 10px;}
}

.Accept {  display: flex;
    flex-direction: column;
    gap: 40px;

}

.endless2 { padding: 100px 70px;
    background-color: #F8FAFD;

    h1 { font-size: 85px;
        font-weight:500 ;
        line-height:86px ;
        width: 13em;
    }

    span { color:#35A162 ;}
}

/* section 5 */
.sect5 { display: flex;
    padding: 70px;
    align-items: center;
    width: 100%;
    overflow: hidden;


img { width:  35em;
height:auto;}

p { font-size:20px ;
font-weight:300 ;
line-height: 32px;
width:387px ;
padding-bottom: 20px;}

h1 { font-size:24px ;
font-weight:600 ;
line-height: 29px;
padding-bottom: 30px;}
} 

.invoices { padding-left: 100px;
padding: 50px;

a { color: #FB9129;}

}

.sect5left {

    span { color: #35A162;}
}



.store { padding-bottom: 50px;


    button {background-color: black;
        color: white;
        padding: 12px 15px;
        border-radius: 10px;}
}

/* section 7 */
.sect7 { padding:70px ;
   

    p { font-size:80px ;
        font-weight: 300;
        line-height:110px ;
    }

    span { color: #35A162;}
}







